body {
  background-image: url(background.jpeg);
  background-size: cover;
  background-color: rgba(95, 82, 82, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.header {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .section {
  margin-top: 5%;
  width: 50%;
  background-color: white;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  opacity: 0.5;
}
.header .section .text {
  text-align: center;
  font-size: 35px;
}